<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TSK</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>
<body>
      <header>
        <a href="#" class="menu_bar"><img src="/Images/IMG_9141.PNG"></a>
          <a href="#" class="logo_icon"><img src="/Images/IMG_9134.PNG"></a>
          <a href="#" class="account_icon"><img src="/Images/IMG_9140.PNG"></a>
      </header>

      <div class="hello_block">
          ДОБРО ПОЖАЛОВАТЬ В TSK TRACKER<br>
          <br>
          ЗДЕСЬ ВЫ СМОЖЕТЕ С ЛЕГКОСТЬЮ РЕАЛИЗОВАТЬ СВОИ ПЛАНЫ
      </div>

      <a href="/login" id="start_button">Начать</a>
</body>
</html>