<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>TSK</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lora:wght@400;700&family=Nunito:wght@200&family=Open+Sans&family=Roboto:wght@100;400&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
</head>
<body>
      <header>
        <button class="menu_bar"><img src="../static/Images/IMG_9141.PNG"></button>
          <a href="#" class="logo_icon"><img src="../static/Images/IMG_9134.PNG"></a>
          <a href="#" class="account_icon"><img src="../static/Images/IMG_9140.PNG"></a>
      </header>

      <div class="menu_zone">
          <div class="field_menu_block_exit">
              <button class="cl-btn-3">
                <span class="top"></span>
                <span class="bot"></span>
              </button>
          </div>
          <div class="field_menu_block">
            <a href="#" id="menu_my_projects">Мои проекты</a>
        </div>
        <div class="field_menu_block">
            <a href="#" id="menu_all_projects">Все проекты</a>
        </div>
        <div class="field_menu_block">
            <a href="#" id="menu_all_projects">Задачи</a>
        </div>
      </div>

      <div class="info_zone_project">
          <div class="header_project">
              <div class="name_zone">Название: <p>Проект №2</p></div>
              <div class="closed_date">Дата закрытия: <p>25.04.2022</p></div>
              <div class="admin_project">Админ: <p>Фокин И.А.</p></div>
              <a href="#"><img class="edit_icon" src="../static/Images/png-transparent-computer-icons-editing-investigation-miscellaneous-angle-text.png"></a>
              <a href="#"><img class="edit_icon" id="delete_icon" src="../static/Images/delete.png"></a>
          </div>

          <div class="description_project_zone">
              <div class = "header_description">Описание</div>
              <div class="description_project">Здесь будет какое-то описание</div>
          </div>

          <div class="task_project_zone">
            <div class = "header_task">Задачи
                <a class="add_task_a" href="#">+</a>
            </div>
            <div class="task_list">
                <a href="#" class="task_field">
                    <p id="name_of_task">Название</p]>
                    <p id="closing_date_of_task">Дата закрытия: <b>25.05.2022</b></p>
                    <div><p id="participant_task">Исполнитель: <b>Фокин И.А.</b></p></div>
                    <div><p id="status_task">Статус: <b>В работе</b></p></div>
                </a>
            </div>
          </div>

      </div>

      <div class="participant_zone">
          <div class="header_participant">Участники</div>
          <div class="participant_list">
              <div class="participant_field">Фокин И.А.</div>
              <div class="participant_field">Фокин И.А.</div>
              <div class="participant_field">Фокин И.А.</div>
              <a href="#" class="login_button" id="add_participant_or_team">Добавить</a>
          </div>
      </div>

      <div class="participant_zone" id="teams_zone">
        <div class="header_participant">Команды</div>
        <div class="participant_list">
            <a href="#" class="participant_field">Команда А</a>
            <a href="#"class="participant_field">Команда Б</a>
            <a href="#" class="participant_field">Команда С</a>
            <a href="#" class="login_button" id="add_participant_or_team">Добавить</a>
        </div>
    </div>


      
</body>
<script src="../static/js/jquery-3.0.0.min.js"></script>
<script src="../static/js/js.js"></script>
</html>